# fly.toml file generated for dots on 2022-12-06T20:50:37+06:00

app = "dots"
kill_signal = "SIGINT"
kill_timeout = "5s"
primary_region = "sin"

[env]
  PORT = "8080"
  NAMESERVERS = "8.8.8.8,8.8.4.4"
  MAPBOX_TOKEN = "pk.eyJ1IjoiZnVycWFuc29mdHdhcmUiLCJhIjoiY21naXpmaWd5MGMxajJyc2gxZjF4NzhtbyJ9.WDuI4_L5CiqgOgNBQjtPpw"

[experimental]
  auto_rollback = true

  [[services]]
  internal_port = 8080
  processes = [ "app" ]
  protocol = "tcp"

    [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

    [[services.ports]]
    force_https = true
    handlers = [ "http" ]
    port = 80

    [[services.ports]]
    handlers = [ "tls", "http" ]
    port = 443

    [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    timeout = "2s"
