doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Dots by Furqan Software

    link(rel='stylesheet', href='//api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css')
    link(rel='stylesheet', href='/assets/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/screen.css')

    script(src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js')
    script(src='/assets/jquery.min.js')
    script(src='/assets/jquery.history.min.js')
    script(src='/assets/bootstrap.min.js')
    script(src='/assets/main.js')

    if GOSQUARED_KEY
      script(type='text/javascript')
        var GoSquared={};GoSquared.acct='#{GOSQUARED_KEY}';(function(w){function gs(){w._gstc_lt=+new Date;var d=document,g=d.createElement('script');g.type='text/javascript';g.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';var s=d.getElementsByTagName('script')[0];s.parentNode.insertBefore(g,s);}w.addEventListener ?w.addEventListener('load',gs,false) :w.attachEvent('onload',gs);})(window);

  body
    div.container
      header#head
        div.row
          div.span2
            a.logo(href='/')
              h1 Dots
            p.credit  By 
              | 
              a(href='https://furqansoftware.com') Furqan Software

          div.span10
            div#prompt
              form
                div.input-append
                  input(type='text', name='addr', data-toggle='tooltip', title='Enter a domain name or IP address, e.g. toph.co or 66.228.46.60', autocomplete='off')
                  button.btn.btn-primary
                    i.icon.icon-chevron-right.icon-white

      div#main
        section#home

        section#results 
          ul.nav.nav-pills
            li.a
              a A
            li.aaaa
              a AAAA
            li.cname
              a CNAME
            li.mx
              a MX
            li.naptr
              a NAPTR
            li.ns
              a NS
            li.ptr
              a PTR
            li.soa
              a SOA
            li.srv
              a SRV
            li.txt
              a TXT
            li.rdns
              a rDNS
            li.whois
              a WHOIS
            li.geo
              a Geo

          section#a
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Address
                      th TTL
                  tbody

          section#aaaa
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Address
                      th TTL
                  tbody

          section#cname
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#mx
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Priority
                      th Exchange
                      th TTL
                  tbody

          section#naptr
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Order
                      th Preference
                      th Flags
                      th Service
                      th Regexp
                      th TTL
                  tbody

          section#ns
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#ptr
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#soa
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Primary
                      th Admin
                      th Serial
                      th Refresh
                      th Retry
                      th Expiration
                      th Minimum
                      th TTL
                  tbody

          section#srv
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Priority
                      th Weight
                      th Port
                      th Target
                      th TTL
                  tbody

          section#txt
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#rdns
            div.row
              div.span12
                table.table.table-bordered
                  thead
                    tr
                      th Address
                  tbody

          section#whois
            div.row
              div.span12
                pre

          section#geo
            div.row
              div.span12
                div.map

    a(href='https://github.com/FurqanSoftware/dots')
      img(src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub', style='position: fixed; top: 0; right: 0; border: 0;')
